@font-face {
    font-family: 'Source Sans Pro'; 
    src: url('SourceSansPro-Regular.otf');
}

@font-face {
    font-family: 'Source Sans Pro Semibold'; 
    src: url('SourceSansPro-Semibold.otf');
}

body {
    font-family: "Source Sans Pro";
}

strong {
    font-family: "Source Sans Pro Semibold";
}